.page[b-lbu036tguj] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-lbu036tguj] {
    flex: 1;
}

.sidebar[b-lbu036tguj] {
    background-color: #00bbb4;
}


@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-lbu036tguj] {
        display: none;
    }

    .top-row.auth[b-lbu036tguj] {
        justify-content: space-between;
    }

    .top-row a[b-lbu036tguj], .top-row .btn-link[b-lbu036tguj] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-lbu036tguj] {
        flex-direction: row;
    }

    .sidebar[b-lbu036tguj] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lbu036tguj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-lbu036tguj], article[b-lbu036tguj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
