################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Intranet/.vs/Intranet/FileContentIndex/320d23c3-5173-4843-bdc8-983247206946.vsidx
/Intranet/.vs/Intranet/v17/.suo
/Intranet/Intranet/bin/Debug/net8.0/Intranet.dll
/Intranet/Intranet/bin/Debug/net8.0/Intranet.exe
/Intranet/Intranet/bin/Debug/net8.0/Intranet.pdb
/Intranet/Intranet/bin/Debug/net8.0/Intranet.staticwebassets.runtime.json
/Intranet/Intranet/obj/Debug/net8.0/ref/Intranet.dll
/Intranet/Intranet/obj/Debug/net8.0/refint/Intranet.dll
*.cs
/Intranet/Intranet/obj/Debug/net8.0/apphost.exe
/Intranet/Intranet/obj/Debug/net8.0/Intranet.AssemblyInfo.cs
/Intranet/Intranet/obj/Debug/net8.0/Intranet.AssemblyInfoInputs.cache
/Intranet/Intranet/obj/Debug/net8.0/Intranet.assets.cache
/Intranet/Intranet/obj/Debug/net8.0/Intranet.csproj.FileListAbsolute.txt
/Intranet/Intranet/obj/Debug/net8.0/Intranet.dll
/Intranet/Intranet/obj/Debug/net8.0/Intranet.GeneratedMSBuildEditorConfig.editorconfig
/Intranet/Intranet/obj/Debug/net8.0/Intranet.genruntimeconfig.cache
/Intranet/Intranet/obj/Debug/net8.0/Intranet.pdb
*.json
*.bin
/Intranet/Intranet/obj/Debug/net8.0/staticwebassets.build.json
/Intranet/Intranet/obj/Debug/net8.0/staticwebassets.development.json
/Intranet/Intranet/obj/Debug/net8.0/staticwebassets.pack.json
/Intranet/Intranet/obj/Intranet.csproj.nuget.dgspec.json
/Intranet/Intranet/obj/project.assets.json
/Intranet/Intranet/obj/project.nuget.cache
