################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################
Intranet/.vs/Intranet/FileContentIndex/b9c4d380-ed1b-490b-bf3e-753011decd16.vsidx
