@page "/direccionesip"
<<<<<<< Updated upstream
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment
@inject Microsoft.JSInterop.IJSRuntime Js 
using System;
using System.Data.SqlClient;
=======
>>>>>>> Stashed changes

<nav class="navbar navbar-expand-lg justify-content-center"
     style="border-radius: 10px; background-color: #00bbb4">
    <h1 class="navbar-brand" href="#" style="color: black; font-weight: bold">
        Direcciones IP
    </h1>
</nav>

<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
