@page "/direccionesip"
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment WebHostEnvironment
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>



<nav class="navbar navbar-expand-lg justify-content-center"
     style="border-radius: 10px; background-color: #00bbb4">
    <h1 class="navbar-brand" href="#" style="color: black; font-weight: bold">
        Direcciones IP
    </h1>
</nav>


<div class="container mt-3">
    <div class="mb-3">
        <label for="busqueda" class="form-label">Criterio de Búsqueda:</label>
        <input type="text" class="form-control" id="busqueda" placeholder="Buscar...">
    </div>

    <table id="tabla-datos" class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">usuario</th>
                <th class="text-center">IP</th>
                <th class="text-center">Extension</th>
                <th class="text-center">Inventario</th>
                <th class="text-center">Departamento</th>
                <th class="text-center">Nombre Equipo</th>
                <th class="text-center">Observaciones</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    fetch('json/datos.json')
        .then((response) => response.json())
        .then((data) => {
            const tabla = document.querySelector("#tabla-datos");
            const tbody = tabla.querySelector("tbody");
            const busquedaInput = document.querySelector("#busqueda");

            function filtrarTabla() {
                const busqueda = busquedaInput.value.toLowerCase();
                const filas = tbody.querySelectorAll("tr");

                filas.forEach((fila) => {
                    const textoFila = fila.textContent.toLowerCase();

                    if (textoFila.includes(busqueda)) {
                        fila.style.display = "";
                    } else {
                        fila.style.display = "none";
                    }
                });
            }

            busquedaInput.addEventListener("input", filtrarTabla);

            data.forEach((dato) => {
                const row = document.createElement("tr");
                const usuarioCell = document.createElement("td");
                const ipCell = document.createElement("td");
                const extensionCell = document.createElement("td");
                const inventarioCell = document.createElement("td");
                const departamentoCell = document.createElement("td");
                const nombreEquipoCell = document.createElement("td");
                const observacionesCell = document.createElement("td");

                usuarioCell.textContent = dato.usuarioCell;
                ipCell.textContent = dato.ipCell;
                extensionCell.textContent = dato.extensionCell;
                inventarioCell.textContent = dato.inventarioCell;
                departamentoCell.textContent = dato.departamentoCell;
                nombreEquipoCell.textContent = dato.nombreEquipoCell;
                observacionesCell.textContent = dato.observacionesCell;

                row.append(usuarioCell, ipCell, extensionCell, inventarioCell, departamentoCell, nombreEquipoCell, observacionesCell);
                tbody.appendChild(row);
            });
        });

</script>