@page "/login"
@page "/invalido/{ErrorMessage}"
@layout MainLogin
@using MudBlazor
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider autenticacionProvider


 <link href="/css/loggin.css" rel="stylesheet" />  

<PageTitle> Sistema Intranet Fenix Salud </PageTitle>

<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card text-white" style="border-radius: 1rem; background-color: #00bbb4">
                <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">
                    
                        <h1> Fénix Intranet </h1>
                        @if (!string.IsNullOrEmpty(ErrorMessage))
                        {
                            <MudText Class="mt-2 text-danger">@ErrorMessage</MudText>
                        }

                        <form method="post" action="/account/login">
                            <MudGrid>
                                <MudItem xs="12" sm="12">
                                    <MudCard>
                                        <MudCardContent>                                      
                                            <MudTextField Variant="Variant.Filled" Label="Usuario" Value="LoginDTO.Usuario" name="Usuario" />                                      
                                            <MudTextField Variant="Variant.Filled" Label="Clave" InputType="InputType.Password" Value="LoginDTO.Clave" name="Clave" />                                                                                    
                                        </MudCardContent>
                                        <MudCardActions>
                                            <div class="col-12 d-flex justify-content-center align-items-center">
                                                <button class="btn btn-outline-light btn-lg px-5">Ingresar</button>
                                            </div>
                                        </MudCardActions>
                                    </MudCard>
                                </MudItem>
                            </MudGrid>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
