@page "/noticia"

<PageTitle> Noticias </PageTitle>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-12 d-flex justify-content-center"><h1>En construcción</h1></div>
        <div class="col-12 d-flex justify-content-center"> <img src="img/repair.jpg" Width="500" Height="500" /></div>
    </div>
</div>
