@page "/redes-sociales"

<nav class="navbar navbar-expand-lg justify-content-center mb-5"
     style="border-radius: 10px; background-color: #00bbb4">
    <h1 class="navbar-brand" href="#" style="color: black; font-weight: bold">
       Redes Sociales
    </h1>
</nav>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div style="height: 750px;">
                <iframe src="https://www.instagram.com/p/C402i9CoLRO/embed" title="Instagram embed" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="twitter-widget" style="height: 450px;">
                <a class="twitter-timeline" data-width="400" data-height="450" data-dnt="true" data-theme="dark" href="https://twitter.com/Fenixsalud_ccs?ref_src=twsrc%5Etfw"></a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>