@page "/sobrefenix"

<PageTitle> Sobre Fénix </PageTitle>

<div class="container-nav-bar">
    <p class="container-nav-bar-title"> Sobre Fénix...</p>
</div>

<div class="container-content1">
<p class="title-container-content1"> Lo que representamos </p>
    <div class="line-container-content1"></div>
<p class="subtitle-container-content1"> Nuestros Valores </p>
</div>

<div class="container-content2"> 
<div class="subcontainer-content2">
<div class="container-content2-image">
<img class="content2-image" src="/img/09.png" alt="" />
</div>
<p class="container-content2-title"> DOCTOR QUE ELIJAS </p>
<p class="container-content2-description"> Donec hendrerit rutrum nibh, id egestas magna sodales a. Fusce feugiat velit eu ante blandit facilisis. </p>
</div>
    <div class="subcontainer-content2">
        <div class="container-content2-image">
            <img class="content2-image" src="/img/09.png" alt="" />
        </div>
        <p class="container-content2-title"> DOCTOR QUE ELIJAS </p>
        <p class="container-content2-description"> Donec hendrerit rutrum nibh, id egestas magna sodales a. Fusce feugiat velit eu ante blandit facilisis. </p>
    </div>
    <div class="subcontainer-content2">
        <div class="container-content2-image">
            <img class="content2-image" src="/img/09.png" alt="" />
        </div>
        <p class="container-content2-title"> DOCTOR QUE ELIJAS </p>
        <p class="container-content2-description"> Donec hendrerit rutrum nibh, id egestas magna sodales a. Fusce feugiat velit eu ante blandit facilisis. </p>
    </div>
</div>

<div class="container-content2">
    <div class="subcontainer-content2">
        <div class="container-content2-image">
            <img class="content2-image" src="/img/09.png" alt="" />
        </div>
        <p class="container-content2-title"> DOCTOR QUE ELIJAS </p>
        <p class="container-content2-description"> Donec hendrerit rutrum nibh, id egestas magna sodales a. Fusce feugiat velit eu ante blandit facilisis. </p>
    </div>
    <div class="subcontainer-content2">
        <div class="container-content2-image">
            <img class="content2-image" src="/img/09.png" alt="" />
        </div>
        <p class="container-content2-title"> DOCTOR QUE ELIJAS </p>
        <p class="container-content2-description"> Donec hendrerit rutrum nibh, id egestas magna sodales a. Fusce feugiat velit eu ante blandit facilisis. </p>
    </div>
    <div class="subcontainer-content2">
        <div class="container-content2-image">
            <img class="content2-image" src="/img/09.png" alt="" />
        </div>
        <p class="container-content2-title"> DOCTOR QUE ELIJAS </p>
        <p class="container-content2-description"> Donec hendrerit rutrum nibh, id egestas magna sodales a. Fusce feugiat velit eu ante blandit facilisis. </p>
    </div>
</div>

<div class="container-content3">
<div class="container-content3-image-container">
<img class="container-content3-image-container-image" src="/img/05.jpg" />
</div>



    <div class="container-content3-data-container">
        <div class="container-content3-data-subcontainer">
            <p class="subcontainer-conten3-title">12+</p>
            <p class="subcontainer-content3-subtitle">Años contigo</p>
            <p class="subcontainer-content3-content">Phasellus laoreet tristique sagittis. Phasellus commodo dolor sed elit iaculis interdum.</p>
        </div>

        <div class="container-content3-data-subcontainer">
            <p class="subcontainer-conten3-title">1000+</p>
            <p class="subcontainer-content3-subtitle">Reseñas Positivas</p>
            <p class="subcontainer-content3-content">Phasellus laoreet tristique sagittis. Phasellus commodo dolor sed elit iaculis interdum.</p>
        </div>

    </div>

    <div class="container-content3-data-container">
        <div class="container-content3-data-subcontainer">
            <p class="subcontainer-conten3-title">274</p>
            <p class="subcontainer-content3-subtitle">Doctores</p>
            <p class="subcontainer-content3-content">Phasellus laoreet tristique sagittis. Phasellus commodo dolor sed elit iaculis interdum.</p>
        </div>

        <div class="container-content3-data-subcontainer">
            <p class="subcontainer-conten3-title">1000+</p>
            <p class="subcontainer-content3-subtitle">Clientes Satisfechos</p>
            <p class="subcontainer-content3-content">Phasellus laoreet tristique sagittis. Phasellus commodo dolor sed elit iaculis interdum.</p>
        </div>

    </div>


</div>

<div class="container-content4">
    <p class="title-container-content4"> Nuestro equipo directivo </p>
    <div class="line-container-content4"></div>
    <p class="subtitle-container-content4"> JUNTA DIRECTIVA </p>
</div>


<div class="container-content5">
<div class="card" style="width: 10rem;">
    <img src="/img/03.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Andres Trujillo</h5>
            <p class="card-text">Direccion Legal</p>
    </div>
</div>

<div class="card" style="width: 10rem;">
    <img src="/img/04.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Alberto Canorea</h5>
            <p class="card-text">Director Medico </p>
    </div>
</div>

    <div class="card" style="width: 10rem;">
        <img src="/img/06.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Oscar Diaz Santamaria</h5>
            <p class="card-text">CEO</p>
        </div>
    </div>

    <div class="card" style="width: 10rem;">
        <img src="/img/08.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Vincenzo Mastrolonardo</h5>
            <p class="card-text">Director Comercial</p>
        </div>
    </div>

    <div class="card" style="width: 10rem;">
        <img src="/img/07.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Romulo Rubio</h5>
            <p class="card-text">Director de Operaciones y Finanzas</p>
        </div>
    </div>
</div>

