@page "/Usuario"
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [Authorize(Roles = "SuperAdmin")]

<h3>Usuario</h3>

@code {

}
