@inherits LayoutComponentBase
@using Intranet.Extension
@using Microsoft.AspNetCore.Components.Authorization;
@using Intranet.Modelos.LoginModel;
@using MudBlazor
@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager navManager


<PageTitle>Intranet</PageTitle>

<div class="page">

    @if (!containsAgenda)
    {
         @if (collapseNavMenu)
         {
           <div class="sidebar d-md-block">
                  <NavMenu/>
            </div>
         }else{
             <div class="sidebar d-sm-none">
                  <NavMenu />
             </div>
         }
     }
          
    <main> 
        @if (!containsAgenda)
        {
            <div class="top-row" style="background-color: #00bbb4; height : 57px" Fixed="false">
                <div class="container-fluid d-flex justify-content-between">
                <div class="d-flex">                  
                        <div class="1">
                            <MudIconButton Icon="@Icons.Material.Outlined.Menu" Title="Menu" Size="@Size.Medium" OnClick="ToggleNavMenu2" />
                        </div>                  
                    <div class="text-white" >
                        <img class="logoFenix" src="img/logoFenix.png" Width="40" Height="50" />
                        <a class="navbar-brand text-white" href="http://172.16.100.52:90/">Fénix Intranet</a>
                    </div>
                </div>
                <AuthorizeView>
                    <Authorized>
                        <span class="text-white">Bienvenido, @context.User.Identity!.Name</span>
                    </Authorized>
                    <NotAuthorized>
                                <div class="col-5 col-md-3 col-lg-2">
                                    <MudNavLink Href="/login" Class="text-white">Iniciar sesión</MudNavLink>
                                </div>
                    </NotAuthorized>
                </AuthorizeView>
                </div>
            </div>
        }
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MudThemeProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Small"
                   CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />
<MudSnackbarProvider />

@code {
    private string Nombre = string.Empty;
    private bool collapseNavMenu = false;
    private string currentUrl;
    private bool containsAgenda;

    private void ToggleNavMenu2()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        // Nombre = "Bienvenido";

        currentUrl = navManager.Uri;
        if (!string.IsNullOrEmpty(currentUrl))
            containsAgenda = currentUrl.Contains("/agenda");
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Nombre = "Bienvenido";
        }
        // currentUrl = navManager.Uri;
        // if (!string.IsNullOrEmpty(currentUrl))
        // containsAgenda = currentUrl.Contains("/agenda");
    }



    private async Task CerrarSesion()
    {
       
    }
}

