<div class="top-row ps-3 navbar navbar-dark" style="background-color: #00bbb4">
    <div class="container-fluid">
        <div>
            <img class="logoFenix" src="img/logoFenix.png" Width="40" Height="40" />
            <a class="navbar-brand" href="/tablero">Intranet Fénix</a>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" style="background-color: #80CBC4">
    <MudNavMenu>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/tablero">Inicio</MudNavLink>
        <AuthorizeView Roles="SuperAdmin, Noticias" Context="context">
            <Authorized>
                <MudNavLink Href="/noticia">Noticias</MudNavLink>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="SuperAdmin, AgendaTelefonica" Context="context">
            <Authorized>
                <MudNavLink Href="/agenda">Agenda Telefónica</MudNavLink>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="SuperAdmin, Calendario" Context="context">
            <Authorized>
                <MudNavGroup Title="Calendario" Expanded="false">
                    <AuthorizeView Roles="SuperAdmin, cumpleanos" Context="context2">
                        <Authorized>
                            <MudNavLink Href="/cumpleanos">Cumpleaños Fenix</MudNavLink>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, AgendaReuniones" Context="context3">
                        <Authorized>
                            <MudNavLink Href="/Reunion-Agenda">Reservaciones de salas</MudNavLink>
                        </Authorized>
                    </AuthorizeView>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="SuperAdmin, SoporteTecnico" Context="context">
            <Authorized>
                <MudNavGroup Title="Soporte Técnico" Expanded="false">
                    <AuthorizeView Roles="SuperAdmin, DireccionesIp" Context="context2">
                        <Authorized>
                            <MudNavLink Href="/direccionesip">Direcciones IP</MudNavLink>
                        </Authorized>
                    </AuthorizeView>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="SuperAdmin, Planillas" Context="context">
            <Authorized>
                <MudNavGroup Title="Planillas" Expanded="false">
                    <AuthorizeView Roles="SuperAdmin, InspeccionDeHabitaciones" Context="context2">
                        <Authorized>
                            <MudNavLink Href="/Insp-Hab">Inspección de Habitaciones</MudNavLink>
                        </Authorized>
                    </AuthorizeView>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView>
        <MudNavLink Href="/sobrefenix">Sobre Fénix</MudNavLink>
        <AuthorizeView Roles="SuperAdmin, Administracion" Context="context">
            <Authorized>
                <MudNavGroup Title="Administracion" Expanded="false">
                    <AuthorizeView Roles="SuperAdmin, Perfiles" Context="context2">
                        <Authorized>
                            <MudNavGroup Title="Perfiles" Expanded="false">
                                <MudNavLink Href="/Usuario">Usuarios</MudNavLink>
                                <MudNavLink Href="/Roles">Roles</MudNavLink>
                                <MudNavLink Href="/Permisos">Permisos</MudNavLink>
                                <MudNavLink Href="/Tipo-Rol">Tipo de rol</MudNavLink>
                            </MudNavGroup>    
                        </Authorized>
                     </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, Modulos" Context="context2">
                        <Authorized>
                    <MudNavGroup Title="Modulos" Expanded="false">
                        <MudNavLink Href="/Categoria">Categorias</MudNavLink>
                        <MudNavLink Href="/Sub-Categoria">Sub-Categorias</MudNavLink>
                    </MudNavGroup>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, UsuarioAgendaTelefonica" Context="context2">
                        <Authorized>
                            <MudNavLink Href="/UsuarioAgendaTelefonica">Usuario Agenda Telefonica</MudNavLink>
                        </Authorized>
                    </AuthorizeView>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView> 
        <MudNavLink Href="/account/logout" style="cursor: pointer;">Cerrar Sesión</MudNavLink>
    </MudNavMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task CerrarSesion()
    {

    }
}


