@using Microsoft.AspNetCore.Components.Routing

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div>
            <img class="logoFenix" src="img/logoFenix.png" Width="40" Height="40" />
            <a class="navbar-brand" href="">Intranet Fénix</a>
        </div>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>




<MudNavMenu>
    <MudDivider Class="my-2" />
    <MudNavLink Href="/index">Tableros</MudNavLink>
    <MudNavGroup Title="Noticias Fénix" Expanded="false">
        <MudNavLink Href="/noticia">Noticias</MudNavLink>
        <MudNavLink Href="/boletin">Boletin Fénix</MudNavLink>
        </MudNavGroup>
    <MudNavLink Href="/agenda">Agenda</MudNavLink>
        <MudNavGroup Title="Calendario" Expanded="false">
        <MudNavLink Href="/cumpleanos">Cumpleaños Fenix</MudNavLink>
        <MudNavLink Href="/Reunion-Agenda">Reservaciones de salas</MudNavLink>
        </MudNavGroup>
    <MudNavGroup Title="Seguridad" Expanded="false">
        <MudNavGroup Title="redes" Expanded="false">
            <MudNavLink Href="/direccionesip">Direcciones IP</MudNavLink>
        </MudNavGroup>
    </MudNavGroup>
    <MudNavLink Href="/sobrefenix">Sobre Fénix...</MudNavLink>
</MudNavMenu>
