<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sistema Intranet Fénix</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="noti">
                <span class="oi oi-plus" aria-hidden="true"></span> NotiFénix
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sobrefenix">
                <span class="oi oi-laptop" aria-hidden="true"></span> Sobre Fénix...
          </NavLink>
            <NavLink class="nav-link" href="cumple">
                <span class="oi oi-calendar" aria-hidden="true"></span> Cumplénix
            </NavLink>
            <NavLink class="nav-link" href="agenda">
                <span class="oi oi-book" aria-hidden="true"></span> Agenda Fénix
            </NavLink>
            <NavLink class="nav-link" href="boletin">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> Boletin Fénix
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
