<div class="top-row ps-3 navbar navbar-dark" style="background-color: #00bbb4">
    <div class="container-fluid">
        <div>
            <img class="logoFenix" src="img/logoFenix.png" Width="40" Height="40" />
            <a class="navbar-brand" href="/tablero">Intranet Fénix</a>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<<<<<<< Updated upstream
<div class="@NavMenuCssClass nav-scrollable" style="background-color: #00bbb4">
    <MudNavMenu>
        <MudDivider Class="my-2" />
        <MudNavLink Href="/tablero">Tableros</MudNavLink>
        <MudNavGroup Title="Noticias Fénix" Expanded="false">
            <MudNavLink Href="/noticia">Noticias</MudNavLink>
=======
<div class="@NavMenuCssClass nav-scrollable">
<MudNavMenu>
    <MudDivider Class="my-2" />
    <MudNavLink Href="/tablero">Tableros</MudNavLink>
    <MudNavGroup Title="Noticias Fénix" Expanded="false">
        <MudNavLink Href="/noticia">Noticias</MudNavLink>
        @*  <MudNavLink Href="/boletin">Boletin Fénix</MudNavLink> *@
    </MudNavGroup>
    <MudNavLink Href="/agenda">Agenda</MudNavLink>
    <MudNavGroup Title="Calendario" Expanded="false">
        <MudNavLink Href="/cumpleanos">Cumpleaños Fenix</MudNavLink>
        <MudNavLink Href="/Reunion-Agenda">Reservaciones de salas</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Recursos Humanos" Expanded="false">
        <MudNavLink Href="/sdocumentos">Solicitud De Documentos</MudNavLink>
    </MudNavGroup>
    <MudNavGroup Title="Seguridad" Expanded="false">
        <MudNavGroup Title="redes" Expanded="false">
            <MudNavLink Href="/direccionesip">Direcciones IP</MudNavLink>
>>>>>>> Stashed changes
        </MudNavGroup>
        <MudNavLink Href="/agenda">Agenda</MudNavLink>
        <MudNavGroup Title="Calendario" Expanded="false">
            <MudNavLink Href="/cumpleanos">Cumpleaños Fenix</MudNavLink>
            <MudNavLink Href="/Reunion-Agenda">Reservaciones de salas</MudNavLink>
        </MudNavGroup>
        <MudNavGroup Title="Seguridad" Expanded="false">
            <MudNavGroup Title="redes" Expanded="false">
                <MudNavLink Href="/direccionesip">Direcciones IP</MudNavLink>
            </MudNavGroup>
        </MudNavGroup>
        <MudNavGroup Title="Planillas" Expanded="false">
            <MudNavLink Href="/Insp-Hab">Inspección de Habitaciones</MudNavLink>
        </MudNavGroup>
        <MudNavLink Href="/sobrefenix">Sobre Fénix</MudNavLink>
         <AuthorizeView Roles="SuperAdmin">
            <Authorized>
                <MudNavGroup Title="Administracion" Expanded="false">
                    <MudNavLink Href="/Usuario">Usuarios</MudNavLink>
                    <MudNavLink Href="/Roles">Roles</MudNavLink>
                    <MudNavLink Href="/Permisos">Permisos</MudNavLink>
                    <MudNavLink Href="/Tipo-Rol">Tipo de rol</MudNavLink>
                    <MudNavGroup Title="Modulos" Expanded="false">
                        <MudNavLink Href="/Categoria">Categorias</MudNavLink>
                        <MudNavLink Href="/Sub-Categoria">Sub-Categorias</MudNavLink>
                    </MudNavGroup>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView> 
        <MudNavLink Href="/account/logout" style="cursor: pointer;">Salir</MudNavLink>
    </MudNavMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task CerrarSesion()
    {
    //     await _sessionStorage.GuardarLogin(false);
    //     var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
    //     await autenticacionExt.ActualizarEstadoAutenticacion(null);
    //     navManager.NavigateTo("/", true);
     }
}

<<<<<<< Updated upstream


@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Intranet</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
=======
>>>>>>> Stashed changes
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
} *@
