<div class="top-row ps-3 navbar navbar-dark" style="background-color: #00bbb4">
    <div class="container-fluid">
        <div>
            <img class="logoFenix" src="img/logoFenix.png" Width="40" Height="40" />
            <a class="navbar-brand" href="/">Fénix Intranet</a>
        </div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" style="background-color: #80CBC4">
    <MudNavMenu>
        <MudNavLink Match="NavLinkMatch.All" Href="/">Inicio</MudNavLink>
                <div @onclick="ToggleNavMenu">
                    <MudNavLink Href="/sobrefenix">Quiénes somos</MudNavLink>
                </div>
                <div @onclick="ToggleNavMenu">
                    <MudNavLink Href="/noticia">Noticias</MudNavLink>
                </div>
                <AuthorizeView Context="context2">
                    <NotAuthorized>
                        <div class="d-block d-sm-none d-">
                            <MudNavLink Href="/login">Iniciar sesión</MudNavLink>
                        </div>
                    </NotAuthorized>                  
                </AuthorizeView>
                 <div @onclick="ToggleNavMenu">
                <MudNavLink Href="/agenda">Agenda Telefónica</MudNavLink>
                </div>
        <AuthorizeView Roles="SuperAdmin, Calendario" Context="context">
            <Authorized>
                <MudNavGroup Title="Calendario" Expanded="false">
                    <AuthorizeView Roles="SuperAdmin, cumpleanos" Context="context2">
                        <Authorized>
                             <div @onclick="ToggleNavMenu">
                            <MudNavLink Href="/cumpleanos">Cumpleaños Fenix</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, AgendaReuniones" Context="context3">
                        <Authorized>
                             <div @onclick="ToggleNavMenu">
                            <MudNavLink Href="/Reunion-Agenda">Reservaciones de salas</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="SuperAdmin, SoporteTecnico" Context="context">
            <Authorized>
                <MudNavGroup Title="Soporte Técnico" Expanded="false">
                    <AuthorizeView Roles="SuperAdmin, DireccionIp" Context="context2">
                        <Authorized>
                            <div @onclick="ToggleNavMenu">
                                <MudNavLink Href="/Direccion-ip">Direcciones IP</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, EquipoDireccionIp" Context="context2">
                        <Authorized>
                            <div @onclick="ToggleNavMenu">
                                <MudNavLink Href="/Equipo-Direccion-ip">Equipo direcciones IP</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="SuperAdmin, Planillas" Context="context">
            <Authorized>
                <MudNavGroup Title="Planillas" Expanded="false">
                    <AuthorizeView Roles="SuperAdmin, InspeccionDeHabitaciones" Context="context2">
                        <Authorized>
                            <div @onclick="ToggleNavMenu">
                            <MudNavLink Href="/Insp-Hab">Inspección de Habitaciones</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, RevisionMantenimientoTecnico" Context="context2">
                        <Authorized>
                            <div @onclick="ToggleNavMenu">
                            <MudNavLink Href="/Revision-Mantenimiento-Tecnico">Revisión de Mantenimiento Técnico</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, ControlDeNovedadesDiarias" Context="context2">
                        <Authorized>
                            <div @onclick="ToggleNavMenu">
                            <MudNavLink Href="/Control-Novedades-Diarias">Control de Novedades Diarias</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, ControlAperturaTanquesDeAgua" Context="context2">
                        <Authorized>
                            <div @onclick="ToggleNavMenu">
                            <MudNavLink Href="/Control-Apertura-Tanques-Agua">Control Apertura Tanques de Agua</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="SuperAdmin, Administracion" Context="context">
            <Authorized>
                <MudNavGroup Title="Administracion" Expanded="false">
                    <AuthorizeView Roles="SuperAdmin, Perfiles" Context="context2">
                        <Authorized>
                            <MudNavGroup Title="Perfiles" Expanded="false">
                                <div @onclick="ToggleNavMenu">
                                <MudNavLink Href="/Usuarios">Usuarios</MudNavLink>
                                <MudNavLink Href="/Roles">Roles</MudNavLink>
                                <MudNavLink Href="/Permisos">Permisos</MudNavLink>
                                <MudNavLink Href="/Tipo-Rol">Tipo de rol</MudNavLink>
                                </div>
                            </MudNavGroup>    
                        </Authorized>
                     </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, Modulos" Context="context2">
                        <Authorized>
                    <MudNavGroup Title="Modulos" Expanded="false">
                        <div @onclick="ToggleNavMenu">
                            <MudNavLink Href="/Categoria">Categorias</MudNavLink>
                            <MudNavLink Href="/Sub-Categoria">Sub-Categorias</MudNavLink>
                        </div>
                    </MudNavGroup>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, UsuarioAgendaTelefonica" Context="context2">
                        <Authorized>
                            <div @onclick="ToggleNavMenu">
                            <MudNavLink Href="/UsuarioAgendaTelefonica">Usuario Externo</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, Equipo" Context="context2">
                        <Authorized>
                            <div @onclick="ToggleNavMenu">
                                <MudNavLink Href="/Equipo">Equipo</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                    <AuthorizeView Roles="SuperAdmin, AsignarUbicacionYUnidadAUsuario" Context="context2">
                        <Authorized>
                            <div @onclick="ToggleNavMenu">
                                <MudNavLink Href="/Usuario-Ubicacion-Unidad">Dirección de usuario</MudNavLink>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </MudNavGroup>
            </Authorized>
        </AuthorizeView> 
        <AuthorizeView Context="context2">
            <Authorized>
                <MudNavLink Href="/account/logout" style="cursor: pointer;">Cerrar Sesión</MudNavLink>
            </Authorized>
        </AuthorizeView>
    </MudNavMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private async Task CerrarSesion()
    {

    }
}


